---
import { Card, CardContent, CardHeader, CardTitle } from '@/shared/ui/components/common/card.component'
import { Badge } from '@ui/components/common/badge.component'
import { Calendar, MapPin, Video } from '@ui/icons'
import { Urls } from '@ui/urls/urls'
import type { Event } from '../../../domain/event'

interface Props {
  event: Event
}

const { event } = Astro.props
---

<a href={Urls.EVENT(event.path)}>
  <Card className="event-card">
    <img
      id="event-image"
      class="event-thumbnail"
      src={event.getThumbnail()}
      alt={`Imagen del evento ${event.getName()}`}
      aria-hidden="true"
      loading="lazy"
      onerror="this.src = '/not-found.jpg'"
    />
    <CardHeader className="event-header">
      <ul>
        {
          event.getCategories().map(category => (
            <li>
              <Badge variant={'custom'} color={event.getColor()}>
                {category}
              </Badge>
            </li>
          ))
        }
      </ul>
    </CardHeader>
    <CardContent className="event-content">
      <CardTitle>{event.getName()}</CardTitle>
      <p class="event-description">{event.getShortDescription()}</p>
      <section class="event-info">
        <article class="event-info-item">
          <Calendar className="event-info-icon" />
          <p>
            {event.getPeriodString()}
          </p>
        </article>
        <article class="event-info-item">
          {event.isOnline() ? <Video className="event-info-icon" /> : <MapPin className="event-info-icon" />}
          <p>
            {event.getLocation()}
          </p>
        </article>
      </section>
    </CardContent>
  </Card>

  <style>
    .event-card {
      @apply flex h-full flex-col overflow-hidden transition-shadow duration-300  hover:shadow-lg;
    }

    .event-thumbnail {
      @apply h-32 w-full object-cover lg:h-56;
    }

    .event-header {
      @apply p-0;

      ul {
        @apply flex -translate-y-3 gap-2 overflow-x-auto pl-4 uppercase;
      }
    }

    .event-content {
      @apply mt-0 flex flex-1 flex-col gap-4 pb-4;

      .event-info {
        @apply flex items-center justify-between gap-4 text-card-foreground;

        .event-info-icon {
          @apply text-2xl;
        }

        .event-info-item {
          @apply flex items-center gap-1 text-gray-400;

          p {
            @apply text-sm uppercase;
          }
        }
      }

      .event-description {
        @apply line-clamp-3 flex-1 lg:line-clamp-2;
      }
    }
  </style>
</a>
