---
import EventCategories from '@event/server/ui/components/event-categories/event-categories.astro'
import '@ui/styles/globals.css'
import { Event } from '../modules/event/server/domain/event'
import EventSocialLinks from '../modules/event/server/ui/components/event-social-links/event-social-links.astro'
import BaseHead from '../shared/ui/components/layout/base-head.astro'
import Footer from '../shared/ui/components/layout/footer.astro'
import Header from '../shared/ui/components/layout/header.astro'
import { Text } from '../shared/ui/components/common/typography/text.component'
import { Urls } from '../shared/ui/urls/urls'
import { Calendar, Link, MapPin, Video } from '@ui/icons'
import { Heading } from '@ui/components/common/typography/heading.component'

interface Props {
  event: Event
}

const { event } = Astro.props
---

<!doctype html>
<html lang="es">
  <BaseHead
    title={`${event.getName()} - eventos.wiki`}
    description={event.getShortDescription()}
    image={event.getThumbnail()}
    url={`https://eventos.wiki${Urls.EVENT(event.getId())}`}
  />
  <body>
    <Header />
    <article class="event-header">
      <img
        id="event-image"
        src={event.getCover()}
        alt={`Foto de portada del evento ${event.getName()}`}
        class="event-image"
      />
      <div aria-hidden class="event-header-overlay"></div>
      <div class="event-header-info">
        <EventCategories event={event} />
        <Heading className="font-medium text-white">
          {event.getName()}
        </Heading>
        <Text className="event-info-item">
          <Calendar className="event-info-icon" />
          {event.getPeriodWithTimeString()}
        </Text>
        <Text className="event-info-item">
          {event.isOnline() ? <Video className="event-info-icon" /> : <MapPin className="event-info-icon" />}
          {event.getLocation()}
        </Text>
        {
          event.hasWeb() && (
            <Text className="event-info-item">
              <Link className="event-info-icon" />
              {event.getWeb()}
            </Text>
          )
        }
        <EventSocialLinks socialNetworks={event.getSocialNetworks()} />
      </div>
    </article>

    <main class="event-body">
      <slot />
    </main>
    <Footer />
    <style>
      body {
        @apply flex flex-col;
      }

      .event-image {
        @apply absolute h-full w-full bg-white object-cover shadow-md;
      }
      .event-header {
        @apply relative h-96 shrink-0 bg-indigo-900;
      }
      .event-header-overlay {
        @apply absolute bottom-0 left-0 h-52 w-full bg-gradient-to-t from-black;
      }
      .event-header-info {
        @apply container absolute bottom-0 left-0 right-0 flex w-full flex-col gap-0 px-4 py-4 text-sm text-white;
      }
      .event-info-icon {
        @apply text-xl;
      }
      .event-info-item {
        @apply mt-0 flex items-center gap-1;
      }
      .event-body {
        @apply container mb-4 mt-4 flex-grow px-4 lg:mb-8;
      }
    </style>
    <script is:inline>
      const eventImage = document.getElementById('event-image')

      eventImage.addEventListener('error', function (event) {
        eventImage.src = '/not-found.jpg'
      })
    </script>
  </body>
</html>
